# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env
.env.local

# Dependency directories
node_modules/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
